$themeColor ?= #3eaf7c
$textColor ?= #2c3e50
$textLightColor ?= #a3aab1
$borderColor ?= #eaecef

$fontFamily ?= -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
